@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: black;
}
* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Cyberpunk";
    src: local("Cyberpunk"),
    url("./Components/Fonts/Cyberpunk.ttf") format("truetype");
}
@font-face {
    font-family: "ObitaemOstrov";
    src: local("ObitaemOstrov"),
    url("./Components/Fonts/ObitaemOstrov.ttf") format("truetype");
}
@font-face {
    font-family: "QUINQUEFIVE";
    src: local("QUINQUEFIVE"),
    url("./Components/Fonts/QUINQUEFIVE.OTF") format("truetype");
}
@font-face {
    font-family: ZtChablisRegular;
    src: local("ZtChablisRegular"),
    url("./Components/Fonts/ZtChablisRegular.ttf") format("truetype");
}